@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body{
    background-image: url(bg.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.blok{
    height: 70vh;
    width: 40vh;
    background-color: white;
    box-shadow: -5px -10px #888888;
    margin: 2% 10%;
}

.blokImg{
    background-image: url(https://img-morhipo.mncdn.com/mnresize/1200/1645/productimages/i/5018479090564/[img][5][1].jpg?1825);
    background-color: #888888;
    height: 35vh;
    width: 25vh;
    background-size: 100% 100%;
    margin-left: 7.5vh;
    
}

.blokName{
    font-size: 5vh;
    text-align: center;
   font-family: sans-serif;
}

.blokExplanation{
    font-size: 2vh;
    text-align: center;
    font-family: Roboto;
    margin: 4vh 5vh;

}

.blokPrice{
    font-size: 7vh;
    font-family: sans-serif;
    text-align: center;
    color: darkgreen;

}

.blokAdd{
    font-size: 3vh;
    text-align: center;
    font-family: Roboto;
    margin: 4vh 0px;
    background-color: darkgreen;
    height: 3vh;
    color: white;
    width: 40vh;
    padding: 2vh 0vh;
    
}

.blok2{
    height: 70vh;
    width: 40vh;
    background-color: white;
    box-shadow: -5px -10px #888888;
    margin: -40.8% 41%;
}

.blokImg2{
    background-image: url(https://static.shiekh.com/media/catalog/product/b/3/b366227061186c636ea3ffc178f8729b.jpg);
    background-color: #888888;
    height: 30vh;
    width: 25vh;
    background-size: 100% 100%;
    margin-left: 7.5vh;
}

.blokName2{
    font-size: 5vh;
    text-align: center;
    font-family: sans-serif;
    margin-top: 4vh;

}

.blokExplanation2{
    font-size: 2vh;
    text-align: center;
    font-family: Roboto;
    margin: 4vh 5vh;
}

.blokPrice2{
    font-size: 7vh;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
}

.blokAdd2{
    font-size: 3vh;
    text-align: center;
    font-family: Roboto;
    margin: 5vh 0px;
    background-color: orangered;
    height: 3vh;
    color: white;
    width: 40vh;
    padding: 2vh 0vh;
}

.blok1003{
    height: 70vh;
    width: 40vh;
    background-color: white;
    box-shadow: -5px -10px #888888;
    margin: 2% 71%;
}

.blokImg1003{
    background-image: url(https://www.thecoolbear.com/Uploads/UrunResimleri/buyuk/simple-orange-979d.jpg);
    background-color: #888888;
    height: 35vh;
    width: 25vh;
    background-size: 100% 100%;
    margin-left: 7.5vh;
}

.blokName1003{
    font-size: 4vh;
    text-align: center;
    font-family: sans-serif;
    margin-top: 2vh;
    
}

.blokExplanation1003{
    font-size: 2vh;
    text-align: center;
    font-family: Roboto;
    margin: 4vh 5vh;
}

.blokPrice1003{
    font-size: 7vh;
    font-family: sans-serif;
    text-align: center;
    color: orange;
}

.blokAdd1003{
    font-size: 3vh;
    text-align: center;
    font-family: Roboto;
    margin: 6vh 0px;
    background-color: orange;
    height: 3vh;
    color: white;
    width: 40vh;
    padding: 2vh 0vh;
}

.button-1{
    border-radius: 5px;
    border: 4px solid yellow;
    padding: 5px 0px;
    display: inline-block;
    margin-bottom: -45vh;
    
}

.button-2{
    margin-left: 80%;
    display: inline-block;
    padding: 8px 0px;
    border-radius: 5px;
    border: 4px solid green;
    
    
}

.button-3{
    margin: 5vh 0vh;
    border-radius: 5px;
    border: 4px solid red;
    padding: 8px 0px;
    margin-bottom: -50vh;
}

.button-4{
    margin-left: 80%;
    border: 4px solid blue;
    border-radius: 5px;
    padding: 8px 0px;
}